.movies-container {
  display: flex;
  gap: 6px;
  overflow-x: auto;
}

.movie-container p {
  font-size: 12px;
  color: grey;
}

h2 {
  padding-bottom: 8px;
}

.btn-default {
  color: white;
  background-color: blue;
}

.btn-change {
  color: Red;
  background-color: white;
}
